.navbar-nav .nav-item {

  text-decoration: none !important;
  height: 36px;
}

.navbar-nav .nav-item a:hover {
  color: $primary !important;
  transition: background 0.3s ease-in;
  text-decoration: none !important;
}

.navbar-nav .nav-item i:hover {
  text-decoration: none !important;
  border-bottom: 0px;
}

.navbar {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}